@import "variables"
@import "mixins"

#slideshow
  height: 100%
  position: relative

  .carousel, .carousel-inner
    height: 100%

  .carousel-control
    @include transition
    cursor: pointer

    &.left, &.right
      background-image: none
      background-repeat: none
      filter: none

    .icon-next, .icon-prev
      font-size: 80px

  .carousel-indicators
    bottom: 60px

    li
      @include transition
      margin: 3px
      height: 14px
      width: 14px
      border: 2px solid $white-opaque-light
      border-radius: 14px
      background-color: transparent

      &:hover
        border-color: transparent
        background-color: $white-opaque-light

      &.active
        margin: 3px
        height: 14px
        width: 14px
        border-color: $white
        background-color: $white

  .slide
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    height: 100%
    min-height: 600px
    .carousel-caption
      text-shadow: none
      top: 30%
      line-height: 3rem

    .button
      border-radius: 4px
      margin: 20px auto
      padding: 1rem 3rem

#upcoming-festivals
  position: relative
  width: 100%
  height: 100%
  z-index: -10
  background-color: $river

  .festival-cards
    color: $white
    font-weight: 300
    padding: 2rem
    display: table-cell
    vertical-align: middle
    text-align: center

    .cards-row
      margin: 0 auto
      text-align: left

    .card
      display: inline-block
      position: relative
      width: 100%
      height: 160px
      margin: 2px

      background-color: $white-opaque-light
      border: 2px solid transparent
      border-radius: 2px
      text-align: left

      .name
        display: inline-block
        margin: 10px 15px
        color: $white
        font-size: 18px
        font-weight: 300
        line-height: 24px
        text-decoration: none
        &:hover
          color: $cloud
          text-decoration: none

      .info
        @include transition
        position: absolute
        top: 10px
        right: 15px
        text-align: right
        color: $white
        font-size: 12px
        letter-spacing: 1px
        text-transform: uppercase

        .festival-link
          position: relative
          top: 64px
          padding: 5px 15px
          background-color: $white
          border-radius: 2px
          color: $slate
          cursor: pointer
          font-size: 11px
          text-decoration: none
          z-index: 20
          &:hover
            background-color: $cloud

      .top-artists
        display: none
        position: relative
        margin: 20px 15px
        text-align: left

        .artist
          font-size: 14px
          line-height: 20px
          white-space: nowrap
          span
            cursor: pointer
            &:hover
              color: $cloud

        .label
          color: $cloud
          font-size: 12px
          letter-spacing: 1px
          text-transform: uppercase
