.pane
  display: table
  margin: 0 auto
  padding: 0
  height: 80rem
  width: 100%
  text-align: center

  font-family: $serif
  font-size: 2.4rem
  font-style: italic
  line-height: 3rem
  text-align: center
  color: $white

#sign-up
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('lights.jpg')
  background-size: cover
  padding: 12rem 0
  input
    @include transition(0.3s)
    display: inline-block
    margin: 2rem
    padding: 0 0.4rem
    width: 40rem

    outline: none
    border: none
    border-bottom: 2px solid $white

    font-size: 3.2rem
    line-height: 4.6rem

    color: $white
    background: transparent

    &:invalid
      border-bottom-color: $pomegranate

    &:valid
      border-bottom-color: $white

  ::-webkit-input-placeholder
    color: $white
  :-moz-placeholder
    font-weight: 400
    color: $white
  ::-moz-placeholder
    font-weight: 400
    color: $white
  :-ms-input-placeholder
    font-weight: 400
    color: $white

  a.button
    padding: 0.8rem 3rem
    border-width: 0.2rem
    border-radius: 1rem

    font-size: 2.4rem
    line-height: 3rem
    &#go
      display: inline-block
      width: 20rem

  .text
    margin: 6rem 0
    &#beta
      margin-top: 0

#list
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('cloud.jpg')
  background-size: cover
  border: 2rem solid $green
  padding: 12rem 0

  ul
    list-style-type: none
    li
      padding: 2rem

#message
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('record.jpg')
  background-size: cover
  padding: 12rem 0

  .mini-pane
    padding: 2rem
    width: 70rem
    margin: 0 auto
    text-align: left
    background: $green-opaque
    .signature
      padding-top: 2rem
      text-align: right
