.pane
  display: table
  margin: 0 auto
  padding: 0
  height: 80rem
  width: 100%
  text-align: center

  font-size: 3rem
  line-height: 5rem
  text-align: center
  color: $white

#search-festivals
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('lights.jpg')
  background-size: cover
  padding: 12rem 0
  input
    margin: 0
    padding: 0 0.4rem
    width: 50rem

    outline: none
    border: none
    border-bottom: 2px solid $white

    font-family: $serif
    font-size: 3rem
    font-style: italic
    line-height: 5rem

    color: $white
    background: transparent

  ::-webkit-input-placeholder
    color: $white
  :-moz-placeholder
    font-weight: 400
    color: $white
  ::-moz-placeholder
    font-weight: 400
    color: $white
  :-ms-input-placeholder
    font-weight: 400
    color: $white

  #go, #see-all
    padding: 0.8rem 3rem
    border-width: 0.2rem
    border-radius: 1rem

    font-size: 3rem
    line-height: 4rem

  #or
    padding: 6rem 0
    font-family: $serif
    font-style: italic

#list
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('cloud.jpg')
  background-size: cover
  border: 2rem solid $green
  padding: 12rem 0

  ul
    list-style-type: none

#message
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('record.jpg')
  background-size: cover
  padding: 12rem 0

  .mini-pane
    padding: 2rem
    width: 70rem
    margin: 0 auto
    text-align: left
    background: $green-opaque
    .signature
      padding-top: 2rem
      text-align: right