.pane
  display: table
  margin: 0 auto
  padding: 0
  height: 80rem
  width: 100%
  text-align: center

  font-family: $sans-serif
  font-size: 2rem
  line-height: 2.4rem
  text-align: center
  color: $black

#sign-up
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('lights.jpg')
  background-size: cover

  color: $white
  font-weight: 400

  #heading
    margin: 0 auto
    padding: 0 1rem

    font-size: 2.6rem
    line-height: 3rem

  #subheading
    margin: 4rem auto
    padding: 0 1rem
    width: 40rem

    font-size: 1.8rem

    #learn-more
      @include link


  #beta
    margin: 4rem auto
    width: 30rem

    font-size: 1.8rem
    line-height: 2.2rem

    color: $black

    .col
      position: relative
      &.half
        display: inline-block
        width: 15rem
      &.full

    input
      @include transition(0.3s)
      outline: none
      border: none
      &#email
        width: 29rem
      &#confirm
        width: 29rem
        height: 6rem

    input[type="text"], input[type="email"]
      @include input-colors($green, $pomegranate, $concrete)
      margin: 0 0 1rem 0
      padding: 15px 1rem 0 1rem
      width: 14rem
      height: 6rem

      border: 0.2rem solid #dfe2e6
      border-radius: 0.4rem

    input[type="submit"]
      @include button($white, $green-opaque)

    label[for]
      @include transition(0.3s)
      position: absolute
      top: 0.2rem
      left: 1.5rem

      font-size: 1.2rem
      color: $concrete

#message
  display: table-cell
  vertical-align: middle
  position: relative

  background-image: url('record.jpg')
  background-size: cover
  padding: 12rem 0

  border: 2rem solid $green
  color: $white

  .mini-pane
    padding: 2rem
    width: 70rem
    margin: 0 auto
    text-align: left
    background: $green-opaque
    .text
      margin: 2rem 0
    .signature
      padding-top: 2rem
      text-align: right
