@import "variables"
@import "mixins"

@media screen and (max-width: 480px)
  .link
    &:hover
      color: $white
      background-color: transparent
      text-decoration: underline

@media screen and (min-width: 544px)
  h1
    font-size: 5rem
    line-height: 6rem

  h2
    font-size: 3rem
    line-height: 4rem

  .top-nav
    .links
      display: inline-block
      li
        padding: 0.5rem 1rem

  #slideshow .slide .carousel-caption
    .button
      font-size: 1.8rem

  .modal
    &#submit-email-modal
      input[type="text"]
        width: 232px

      input.user-email
        width: 462px

    .container
      .col.half
        width: 230px

      .buttons
        .button
          font-size: 1.4rem

@media screen and (min-width: 768px)
  #upcoming-festivals .festival-cards .card
    .top-artists
      display: block

  #upcoming-festivals
    .festival-cards
      .card
        width: 370px

  .schedule-view
    .festival-pane
      .festival-name
        font-size: 3rem
      .festival-info
        position: absolute
        bottom: 2rem
        margin: 0
        font-size: 1.8rem
        .festival-date
          font-size: 1.8rem
      .festival-description
        position: absolute
        top: 1rem
        right: 2rem
        font-size: 1.6rem
        max-width: 46rem
        margin: 0

    .events-pane
      .sort-toggles
        .label, .toggles
          display: inline-block

      .artist-list
        .event
          .name
            font-size: 2rem
            line-height: 2.4rem
          .name, .playcount
            display: inline-block
            position: relative
            top: 0.2rem
          .button
            display: inline-block

  #mvsic-player
    .info
      top: 0.2rem
      .separator, .track
        display: inline-block

    .controls
      position: relative
      top: 0.2rem
    .seek
      display: inline-block

@media screen and (min-width: 960px)
  #upcoming-festivals
    .festival-cards
      .card
        width: 400px

  .schedule-view
    #save-button
      top: 0
      right: 0

    .events-pane
      .label
        margin: 0
      .sort-toggles
        margin: 1rem 0 2rem 0
      .view-toggles
        margin: 1rem 0 4rem 0

      .artist-list
        .event
          margin: 1rem 0

@media screen and (min-width: 1200px)
  #upcoming-festivals
    .festival-cards
      .card
        width: 500px
