#schedule-show
  background-color: $river
  clear: both
  font-family: $sans-serif
  padding: 6rem 2rem
  width: 100%
  min-height: 100%
  position: relative

  &:after
    clear: both
    content: ''
    display: table

  #festival-name, #festival-location
    color: white
    margin: 0.5rem 0.5rem
    text-align: center

  #festival-name
    @include animation-delay(0.5s)
    font-size: 2.6rem
    font-weight: 600

  #festival-location
    @include animation-delay(1s)
    font-size: 1.8rem
    font-weight: 300

  #event-list
    width: 40%
    margin: 0 auto

  .day
    @include animation-delay(1.2s)
    margin: 0.5rem
    margin-bottom: 2rem
    color: $white
    font-size: 1.8rem

    .event-wrapper
      padding: 0.3rem
      margin: 0.5rem 1rem
      font-size: 1.6rem
      background-color: $white
      border-radius: 0.5rem

      .event
        background-color: $river
        border-radius: 3px
        padding: 1rem
        position: relative

        &:before
          content: ''
          display: inline-block
          height: 100%
          vertical-align: middle
          margin-right: -0.25em

        .picture-wrapper, .artist-name, .time-location
          display: inline-block
          vertical-align: middle
          line-height: initial

        .picture-wrapper
          width: 10%
          .picture
            background-image: url('lights.jpg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            width: 4rem
            height: 4rem
            border-radius: 50%
            margin: 0 auto
            padding: 0 auto

        .artist-name
          font-weight: 600
          width: 60%

        .time-location
          font-weight: 600
          width: 30%
          text-align: right

        &:hover
          @include transition(0.1s)
          background-color: $white
          color: $river
