// Fonts
$sans-serif: 'Montserrat', sans-serif
$serif: 'Droid Serif', serif

// Colors
$black: #000
$black-opaque: rgba(0, 0, 0, 0.3)
$cloud: #f3f3f3
$river: #3498db
$sea: #0e72b5
$sea-opaque: rgba(52, 152, 219, 0.8)
$slate: #1c323b
$white: #fff
$white-opaque-superlight: rgba(255, 255, 255, 0.1)
$white-opaque-light: rgba(255, 255, 255, 0.3)
$white-opaque-medium: rgba(255, 255, 255, 0.5)
$white-opaque-strong: rgba(255, 255, 255, 0.7)
$fake-white-opaque-light: #6EB6E5