@import url(http://fonts.googleapis.com/css?family=Noto:400,700,400italic|Droid+Serif:400,400italic,600)

// Fonts
$sans-serif: 'Noto Sans', sans-serif
$serif: 'Droid Serif', serif

// Colors
$black: #000
$video-hack: #1d1b21
$cloud: #f3f3f3
$concrete: #95a5a6
$green: #2dd69f
$green-opaque: rgba(45, 214, 159, 0.7)
$pomegranate: #e74c3c
$river: #4e92df
$sea: #0e72b5
$sea-opaque: rgba(78, 146, 223, 0.7)
$slate: #1c323b
$white: #fff
$white-opaque: rgba(255, 255, 255, 0.3)
$white-opaque-hover-selected: rgba(255, 255, 255, 0.8)
$white-opaque-hover: rgba(255, 255, 255, 0.1)