meta property='og:title' content='Listen to curated artists & create custom lineups for music festivals'
meta property='og:site_name' content='MVSIC.io'
meta property='og:url' content='http://mvsic.io'
meta property='og:description' content="We love festivals, after parties, and all things MVSIC. Whether you just attended your first show or are an aficionado of sound, we want to build the tools and community to help you discover new artists, experiences, and take it up to the next level. It's going to be a long journey and we'd love to hear about what music and community mean to you. Check out upcoming festivals and reach out even if it's just to say hello."
meta property='og:image' content='http://mvsicio.herokuapp.com/assets/wallpaper/crowd.jpg'
