nav.top-nav.animated.fadeInUp
  a.logo href="/"
    img src="/assets/logo/logo-large-white.png" alt="MVSIC logo"
  ul.links
    li
      = link_to 'Feedback', '#', class: 'feedback-cta link'
    li
      = link_to 'About', '/about', class: 'about-cta link'
    li
      = link_to 'Blog', 'http://mvsicio.tumblr.com', class: 'link'
    li.social
      = link_to 'Twitter', 'https://twitter.com/mvsicio', class: 'link'

#feedback-form.modal.animated.fadeInUp
  .container
    .title We'd love to hear from you!
    form
      p Hi there! Please tell us what you like, don't like, want to see more of. Or just say hello :)
      p
        | &mdash;MVSIC team
      input#user-name type='text' name='name' placeholder='Your name'
      input#user-email type='email' name='_replyto' placeholder='Your email'
      textarea#user-message name='message' rows='4' placeholder='Your feedback. Thank you!'
      .buttons
        input.button type='submit' value='Send'
        .button.cancel-feedback Cancel

javascript:
  $(function() {
    setTimeout(function(){
      $('.feedback-cta').on('click', function(event) {
        event.preventDefault();
        $('#feedback-form').show();
      });

      $('#feedback-form').on('click', '.button[type="submit"]', function(event) {
        $.ajax({
          url: '/beta/feedback',
          data: {
            name: $('#user-name').val(),
            email: $('#user-email').val(),
            message: $('#user-message').val()
          },
          type: 'post',
          success: function(){
            setTimeout(function() {
              $('#feedback-form').hide();
              $('.feedback-cta').text('Thank you!')
            }, 300);

            setTimeout(function() {
              $('.feedback-cta').text('Feedback')
            }, 5000);
          }
        });
      });

      $('.cancel-feedback').on('click', function(event) {
        event.preventDefault();
        $('#feedback-form').hide();
      });
    }, 1000);
  });
